<div class="row mt-1">
    <div class="{{config[key]['grid'] && config[key]['grid']|| grid }}" 
         ng-repeat="(key, value) in model track by $index">
        <h6 class="" ng-bind-html="config[key][label]"></h6>
        <p class="text-info text-strong">
            <!--
            <span ng-if="config[key]['type'] === 'boolean'">
                <span ng-if="model[key] === 'true'">Sim</span>
                <span ng-if="model[key] === 'false'">Não</span>
                <span ng-if="model[key] === ''">-</span>
            </span>
            -->
            <!--
            <span ng-if="config[key]['type'] !== 'boolean'"  ng-bind-html="model[key]"></span>
            -->
            <span ng-bind-html="model[key]"></span>
        </p>

        
    </div>
</div>


