<div class="container pl-5" id="div_{{idComponent}}">
    <div class="row">
        <div class="col-12 offset-12">
            <h4 ng-bind-html="title"></h4>
            <ul class="timeline" id="ul_{{idComponent}}">
                <li style="cursor: pointer;" ng-repeat="item in list" ng-click="click({Item: item})">
                    <span style="position: absolute; left: -50px;" class="text-muted text-small text-italic" ng-bind-html="item.date"></span>
                    <span class="text-strong text-dark" style="font-size: 16px;" ng-bind-html="item.title"></span>
                    <p class="mt-1 text-muted text-small text-italic" ng-bind-html="item.content"></p>
                </li>
            </ul>
        </div>
    </div>
</div>