/** controle das tabs **/

.nav-tabs { 
    border: none;
}

.tab-content { 
    border: 1px solid #5a5a92;
    padding: 20px 10px 10px 10px; 
    border-top: none;
}
.nav-tabs li {
    margin: 0px 3px 0px 0px;
    border: none;
    border-radius: 15px;
}

.nav-tabs a{
    background-color:#242448;
    color:white;
}

.nav-tabs li:hover, .nav-tabs li a:hover {
    color:white; 
    border-bottom: none;
}

.nav-tabs li a:focus,
.nav-tabs li a:active {
    background-color: #b5b6f7; color:#0f0f1f;
}