<div>
    <div class="row">
        <!-- form e botoes inciais -->
        <div class="col-12">
            <form enctype="multipart/form-data">
                <div class="text-left sendFileToServer float-left mb-3">
                    <input style="display: none" type="file" id= "{{idInput}}" name="{{idInput}}" nv-file-select="" uploader="uploader" multiple="{{multiple}}">

                    <div class="float-left btn-uploadfile" ng-show="uploader.countFileUpload <= 0">

                        <!-- btn para avatar -->
                        <div class="uploadfile-avatar" ng-click="openUpload(entidade)" ng-show="avatar && !btnText.length">
                            <span ng-show="avatar != 'btn'">
                                <img class="img-rounded img-fluid image" style="width: 100%" ng-src="{{avatar.thumbs}}" spinner-load />
                                <div class="middle">
                                    <div class="text"><i class="fa fa-edit fa-3x"></i></div>
                                </div>

                            </span>
                        </div>

                        <!-- btn comum - abre select file -->
                        <button ng-show="avatar && btnText.length > 0" class="btn btn-primary mr-2" ng-click="openUpload(entidade)">
                            <i class="fa fa-{{btnIcon}} mr-2" aria-hidden="true"></i>
                            <span ng-bind-html="btnText"></span>            
                        </button> 


                        <!-- btn comum - abre modal -->
                        <button ng-show="!avatar" class="btn btn-primary mr-2" ng-click="openModal()">
                            <i class="fa fa-{{btnIcon}} mr-2" aria-hidden="true"></i>
                            <span ng-bind-html="btnText"></span>            
                        </button> 
                    </div>

                    <!-- botoes extras -->
                    <div class="float-left" ng-show="showTemplate && !avatar">
                        <button class="btn btn-secondary mr-2" ng-click="fromTemplateShow(entidade)">
                            <i ng-if="btnIcon.indexOf('fa-') >= 0" class="fa fa-magic" aria-hidden="true"></i>
                            <span>Modelos</span>            
                        </button> 
                    </div>                
                    <div class="float-left" ng-show="showAnexar && !avatar">
                        <button class="btn btn-secondary mr-2" ng-click="attachShow(entidade)">
                            <i ng-if="btnIcon.indexOf('fa-') >= 0" class="fa fa-paperclip" aria-hidden="true"></i>
                            <span>Anexar</span>            
                        </button> 
                    </div>   
                    <!--
                    <div class="float-right">
                        <div id="uploadfile-search" class="pl-2">
                            <div class="form-group mb-0">
                                <input ng-model="Search" ng-keyup="uploadDoSearch()" style="font-family:Arial,FontAwesome" class="Search form-control pb-0 pl-2 mb-1" type="text" required="not-required">
                                <span class="floating-label" style="font-family:Arial,FontAwesome"> O que procura?</span>
                                <i ng-show="Search" ng-click="filterClear('Search')" class="form-control-clear fa fa-times form-control-feedback hidden ng-hide" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>   
                    -->
                    <!-- botoes extras - fim -->

                    <!--
                    <div class="float-left">
                        <div class="progress" style="min-width: 320px;" ng-show="progress > 0">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100"><span ng-show="progress < 100">{{progress}} enviado</span><span ng-show="progress == 100">Processando Arquivo</span></div>
                        </div>             
                        <div class="progress mt-2" style="min-width: 320px;" ng-show="uploader.countFileUpload > 0">
                            <div class="progress-bar bg-info" role="progressbar" style="width: {{progressItem}}%" aria-valuenow="{{progressItem}}" aria-valuemin="0" aria-valuemax="100">
                                {{sendItem}} de {{uploader.countFileUpload}} arquivos enviados
                            </div>
                        </div>
                    </div>
                    -->


                </div>
            </form>
        </div>






    </div>

    <!-- lista de arquivos - mostrar somente se nao for avatar -->
    <div infinite-scroll="getfiles()" infinite-scroll-distance="0" infinite-scroll-disabled="working">
        <div ng-show="!avatar" class="col-12">
            <!-- grid -->
            <div class="row"> 
                <!-- box que vai comportar o conteudo thumbs do arquivo-->
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 pl-1 pr-1 mb-5"
                     ng-repeat="item in list track by item.idUploadfile"
                     on-long-press="" context-itens="{{contextItens}}">
                    <div class="border border-1 border-primary">
                        <div class="h-80 p-0 text-center" ng-click="show(item)">
                            <img style="width: 100%;" class="img img-fluid" ng-src="{{item.thumbs}}" />
                        </div>
                        <div class="text-center bg-primary text-white">
                            <div class="col-12 p-1 text-left" ng-bind-html="item.nomeUploadfile"></div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- table -->
            <div class="table">

            </div>
        </div>
    </div>
</div>


<!-- modal para seleção dos arquivos -->
<alert-modal modal-id="modalSend_{{idInput}}" title="Envio de Arquivos" btn-confirm-text="Fechar">
    <h3>
        <!--
        <span ng-show="uploader.queue.length > 0">{{ uploader.queue.length}} arquivos na fila totalizando {{uploader.filaTamanho / 1024 / 1024|number:2}}MB</span>
        -->
        <!-- progresso do envio -->
        <div class="text-dark text-left mb-1 pt-3 pl-2 text-left" ng-show="uploader.progress > 0 && uploader.progress < 100">
            <h3>
                {{sendItem}} de {{uploader.queue.length}} arquivos enviados. 
                <i ng-show="uploader.isUploading" class="fa fa-refresh fa-spin mr-2"></i>
                Faltam {{(uploader.filaTamanho - uploader.filaTamanhoEnviado)/1024/1024|number:2}}MB de {{uploader.filaTamanho / 1024 / 1024|number:2}}MB
            </h3>
        </div>
    </h3>

    <div nv-file-drop="" uploader="uploader">
        <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone" style="min-height: 400px;">

            <div ng-click="openUpload(entidade)" class="mt-5 text-center" ng-show="uploader.queue.length === 0">
                Clique para procurar os arquivos a serem enviados, ou arraste e solte aqui
            </div>



            <div class="row">
                <span class="uploader.ERROR"></span>

                <div class="col-md-12 mb-5">
                    <div class="row">
                        <div class="{{uploader.queue.length === 0 && 'col-12'||'col-4'}}">  
                            <button ng-show="!avatar && !uploader.isUploading" class="btn btn-primary mr-2 {{uploader.queue.length === 0 && 'btn-block '||''}}" ng-click="openUpload(entidade)">
                                <i class="fa fa-plus mr-2" aria-hidden="true"></i>
                                <span>Procurar Arquivos</span>            
                            </button> </div>
                        <div class="{{uploader.queue.length === 0 && 'col-12'||'col-8'}} text-right">  
                            <div ng-show="uploader.queue.length > 0">
                                <!--
                                <button type="button" class="btn btn-success btn-sm mr-1" ng-click="uploader.uploadAll()" ng-show="!uploader.isUploading">
                                    <span class="fa fa-upload"></span> Enviar {{uploader.queue.length}} fotos
                                </button>
                                -->
                                <button type="button" class="btn btn-warning btn-sm mr-1" ng-click="uploader.cancelAll()" ng-show="uploader.isUploading">
                                    <span class="fa fa-pause"></span> Pausar todos
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                    <span class="fa fa-trash"></span> Limpar lista
                                </button>
                            </div>
                        </div>

                        <!--
                        <div class="{{uploader.queue.length === 0 && 'col-12'||'col-6'}}">  
                            <div class="text-dark text-left mb-1 pt-3 pl-2 text-left" ng-show="uploader.progress > 0 && uploader.progress < 100">
                                <i class="fa fa-refresh fa-spin mr-2"></i>
                                {{uploader.queue.length - sendItem}} arquivos restante.
                                Faltam {{(uploader.filaTamanho - uploader.filaTamanhoEnviado)/1024/1024|number:2}}MB de {{uploader.filaTamanho / 1024 / 1024|number:2}}MB
                            </div>
                        </div>
                        -->
                        <div class="col-12">  
                            <div class="progress mt-2 float-left w-100" ng-show="uploader.progress > 0 && uploader.progress < 100">
                                <div class="progress-bar bg-info text-center" role="progressbar" style="height:25px; width: {{uploader.progress}}%" aria-valuenow="{{uploader.progress}}" aria-valuemin="0" aria-valuemax="100">
                                    {{uploader.progress}}%
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="table-responsive mt-3" ng-show="uploader.queue.length > 0" style="max-height: 360px; overflow-y: auto;">
                        <div class="text-center" ng-show="uploader.isUploading && uploader.filaTamanhoEnviado === 0"><i class="fa fa-refresh fa-3x fa-spin mr-2"></i> <br/>Preparando inicio do envio</div>

                        <button type="button" class="btn btn-success btn-block mt-5 mb-5 pt-5 pb-5 btnSend" ng-click="uploader.uploadAll()" ng-show="!uploader.isUploading">
                            <span class="fa fa-upload fa-3x"></span> <br/>Iniciar envio das {{uploader.queue.length}} fotos
                        </button>



                        <table class="table table-sm" ng-hide="uploader.isUploading && uploader.filaTamanhoEnviado === 0">
                            <thead>
                                <tr>
                                    <th ng-show="uploader.queue.length < 10" width="25%">Icone</th>
                                    <th>Nome do arquivo</th>
                                    <th ng-show="uploader.isHTML5">Tamanho</th>
                                    <th  width="25%" ng-show="uploader.isHTML5">Progresso</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td ng-show="uploader.queue.length < 10"><div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 50 }"></div></td>
                                    <td><strong>{{ item.file.name}}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                                    <td ng-show="uploader.isHTML5" style="min-width:30%;">
                                        <div class="progress" ng-show="item.progress > 0">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: {{item.progress}}%;" aria-valuenow="{{item.progress}}" aria-valuemin="0" aria-valuemax="100">
                                                <span ng-show="item.isReady && !item.isUploading"><i class="fa fa-pause-circle"></i>Aguardando envio</span>
                                                <span ng-show="item.progress < 100">{{item.progress}}% enviado</span>
                                                <span ng-show="item.progress == 100">Envio Completo</span>
                                            </div>
                                        </div>      
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isReady && !item.isUploading"><i class="fa fa-pause-circle"></i></span>
                                        <span ng-show="item.isUploading"><i class="fa fa-refresh fa-spin"></i></span>
                                        <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
                                        <span ng-show="item.isCancel"><i class="fa fa-pause"></i></span>
                                        <span ng-show="item.isError"><i class="fa fa-trash"></i></span>
                                    </td>
                                    <td nowrap>
                                        <div ng-show="!item.isSuccess">
                                            <button title="Remover arquivo da fila" type="button" class="btn btn-danger btn-link" ng-click="item.remove()">
                                                <span class="fa fa-trash"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>



                    </div>



                </div>

            </div>

        </div></div>
</alert-modal>



<alert-modal modal-id="ufAttach_{{idInput}}" title="Anexar arquivos" btn-confirm-text="Fechar">
    <div class="mb-5"><small>Anexar arquivos já no sistema, com classificação pública</small></div>
    <div id="divUfAttach_{{idInput}}"></div>
</alert-modal>

<alert-modal modal-id="ufNsTemplate_{{idInput}}" title="Criação de documentos a partir de modelos" btn-confirm-text="Fechar">
    <div id="divUFTemplate_{{idInput}}"></div>
</alert-modal>

<!-- template modal sem conteudo -->
<div id="uploadFileViewer"></div>

<alert-modal modal-id="ufRename_{{idInput}}" title="Renomear arquivo" btn-confirm-text="Renomear arquivo" confirm-action="renameSave()" cancel-action="">
    <ns-input type="text" label="Novo nome para arquivo" model="Uploadfile.nomeUploadfile"></ns-input>
</alert-modal>




