<div>
    <h1>Polo: {{List.nomePolo}}</h1>
    <h2>Módulo: {{List.nomeModulo}}</h2>
    <h3>Professor: {{List.nomeUsuario}}</h3>
</div>
<div class="row">
    <div class="col-12" ng-repeat="item in List.encontros">
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title text-center">Data do encontro: {{item.dataEncontro| date: \'dd/MM/yyyy\'}}</h3>
                <button ng-show="item.liberado" ng-click="registraPresencaShow(item)" class="btn btn-primary">Ver alunos</button>
                <p class="" ng-show="!item.liberado"><small>Aguardando a data do encontro</small></p>
            </div>
        </div>
    </div>
</div>