<div class="row border-bottom">
    <div class="col-md-6">
        <div id="alunoPorTurmaHeader">
            <div class="card-body">
                <h5 class="card-title">{{Turma.nomeModulo}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Polo {{Turma.nomePolo}}</h6>
                <p class="card-text" ng-bind-html="'Professor: ' + Turma.nomeUsuario"></p>
                <p>Encontros de <span ng-bind-html="Turma.primEncontro|date:'dd / MM / yy'"></span> à <span ng-bind-html="Turma.ultEncontro|date:'dd / MM / yy'"></span></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="filter" aria-describedby="emailHelp" placeholder="Filtrar alunos pelo nome, email ou matricula">
        </div>
    </div>
</div>


<!-- Tabs -->
<section id="tabs">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Pendentes<span class="badge badge-warning ml-2">{{AlunosPendentes.length}}</span></a>
                        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Confirmados<span class="badge badge-success ml-2">{{AlunosConfirmados.length}}</span></a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Não vai cursar<span class="badge badge-danger ml-2">{{AlunosRecusados.length}}</span></a>
                    </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="alunosPorTumaTabContent">

                    <div class="tab-pane fade show active" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="row mr-0 ml-0">
                            <div class="col-12 col-md-4 mb-2" ng-repeat="item in AlunosPendentes = (Alunos| filter: {statusGradeAluno:-1}:true | filter:filter  | orderBy: 'nomeUsuario')">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <h5 class="card-title">{{item.nomeUsuario}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{item.emailUsuario}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">{{item.celularUsuario}}</h6>
                                        <p class="card-text" ng-bind-html="item.obsGradeAluno"></p>
                                        <div class="text-right">
                                            <!--<button class="btn btn-secondary btn-sm mr-2" ng-click="details(item)">Detalhes</button>-->
                                            <button class="btn btn-danger btn-sm mr-1" ng-click="confirmarGradeAluno(item, 2)">Não vai cursar</button>
                                            <button class="btn btn-success btn-sm   " ng-click="confirmarGradeAluno(item, 1)">Vai cursar</button>
                                        </div>
                                        <span class="badge badge-warning" style="position:absolute;top:5px;right:5px;font-size:1em;">#{{item.idMatricula}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row mr-0 ml-0">
                            <div class="col-12 col-md-4 mb-2" ng-repeat="item in AlunosConfirmados = (Alunos| filter: {statusGradeAluno:1}:true | filter:filter | orderBy: 'nomeUsuario')">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <h5 class="card-title">{{item.nomeUsuario}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{item.emailUsuario}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">{{item.celularUsuario}}</h6>
                                        <p class="card-text" ng-bind-html="item.obsGradeAluno"></p>
                                        <div class="text-right">
                                            <button class="btn btn-warning btn-sm mr-1" ng-click="confirmarGradeAluno(item, null)">Pendente</button>
                                            <button class="btn btn-danger btn-sm" ng-click="confirmarGradeAluno(item, 2)">Não vai cursar</button>
                                        </div>
                                        <span class="badge badge-success" style="position:absolute;top:5px;right:5px;font-size:1em;">#{{item.idMatricula}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row mr-0 ml-0">
                            <div class="col-12 col-md-4 mb-2" ng-repeat="item in AlunosRecusados = (Alunos| filter: {statusGradeAluno:2}:true | filter:filter  | orderBy: 'nomeUsuario')">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <h5 class="card-title">{{item.nomeUsuario}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{item.emailUsuario}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">{{item.celularUsuario}}</h6>
                                        <p class="card-text" ng-bind-html="item.obsGradeAluno"></p>
                                        <div class="text-right">
                                            <button class="btn btn-success btn-sm mr-1" ng-click="confirmarGradeAluno(item, 1)">Vai cursar</button>
                                            <button class="btn btn-warning btn-sm" ng-click="confirmarGradeAluno(item, null)">Pendente</button>
                                        </div>
                                        <span class="badge badge-danger" style="position:absolute;top:5px;right:5px;font-size:1em;">#{{item.idMatricula}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./Tabs -->

<div id="alunosPorTurmaConfirmacaoInclusao" class="d-none">
    <div class="text-left">
        <div class="form-group">
            <label>Observações</label>
            <textarea rows="3" class="form-control" ng-model="confirmarGradeAlunoData.obs"></textarea>
        </div>
    </div>
</div>
