<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>{title}</title>
        <meta charset="utf-8">      
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="tmpl" content="mobile" />        
        <link rel="shortcut icon" type="image/x-icon" href="{icon}" />
        <link rel="apple-touch-icon" href="{icon}"/>        
        <link rel="apple-touch-startup-image" href="{icon}">        




        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="tmpl" content="mobile" />        
        <link rel="shortcut icon" type="image/x-icon" href="{icon}" />
        <link rel="apple-touch-icon" href="{icon}"/>        
        <link rel="apple-touch-startup-image" href="{icon}">        



        {js}


    </head>
    <body class="default-bg-image" ng-app = "starter" ng-controller = "AppController">
        <div ng-controller="SessaoController"></div>

        {nav}
        <div class="clearfix"></div>
        <div class="container-principal container{fluid} mt-5 mb-5 pb-5">
            <div id = "SemConteudo" style = "display:none" class = "alert alert-warning text-center"><h1>Conteúdo Não Disponível</h1></div>
            <div id="content" class="pt-2">
                {devMode}

                <div class="navbar-comp d-flex align-items-center d-print-none">
                    <div class="container d-flex justify-content-between align-items-center">
                        <h4 class="page-title d-none d-lg-block">Preparando tela...</h4>
                        <span class="text-right">
                            <span class="tempoSessao mouseover-hand" ng-click="sessaoRenovar()"></span>

                            <button type="button" class="btn btn-success pt-0 pb-0 d-none btnComunicadorShow" id="btnNewMessage">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                                <span class="badge badge-light badge-comunicador"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <div id="comunicador" style="display:none;position:fixed;bottom:10px;left:10px;z-index:99999;" class="draggable p-0">
                    <!-- @rever Messenger neste momento esta desativado
                    <ns-messenger></ns-messenger>
                    -->
                </div>






