</div>

<!-- template menucontexto-->
<ul id="menuContext"></ul>

<!-- Barra de avisos, infos e errors -->
<div id="barraAviso" class="alert alert-success text-center d-print-none" style="padding: 5px;z-index:9999;"></div>
<div id="barraEsquerda" class="avisoEsquerda d-print-none"></div>
<div id="barraUndo" class="avisoUndo d-print-none"></div>

<!-- template alert modal -->
<div id="alertModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3></h3>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="btnAlertModal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- template modal sem conteudo -->
<div id="alertModalVazio" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<!-- template dialog modal -->
<div id="dialogModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3><i class="fa fa-question-circle fa-3x text-danger" aria-hidden="true"></i></h3>
                <h4 class="modal-title">Confirmar</h4>
            </div>
            <div class="modal-body text-center"></div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnDialogModalCancel">Cancelar</button>
                <button type="button" class="btn btn-danger" style="display:none"  id="btnDialogModalNegative">Recusar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnDialogModal">OK</button>
            </div>
        </div>
    </div>
</div>


<!-- loading -->
<div id="loading" style="z-index:9999999" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog text-center pt-5">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>

<!-- template loading 
<div id="loading" data-backdrop="static" class="modal fade" style="z-index:9999999" role="dialog">
   <div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
        <h1>{{MSGINFO}}</h1>
    </div>
</div>
--> 


{extras}


<script async defer src="https://maps.googleapis.com/maps/api/js?key={keyGoogle}"></script>
<!-- Footer -->
<p class="text-center d-none d-sm-block" style="color:#999;position:fixed; bottom:-10px;left:0px;"><small><i>{footerLeft}</i></small></p>
<p class="text-center" style="color:#999;position:fixed; bottom:-10px;left: 50%; width: 320px;margin-left: -160px;">{footerCenter} &copy;</p>
<p class="text-center d-none d-sm-block" style="color:#999;position:fixed; bottom:-10px;right:0px;"><small><i>{footerRight}</i></small></p>
<div class="clearfix" style="margin-top:100px"></div>

</body>
</html>
