<alert-modal modal-id="modal-{{idComponent}}" title="Novo comentário" confirm-action="add()" btn-confirm-text="Adicionar">
    <div class="form-group">
        <label for="comment">Comentários:</label>
        <textarea class="form-control" ng-model="Post.conteudoPost" rows="5" id="comment"></textarea>
    </div>
</alert-modal>
<div class="row">
    <div class="col-sm-2"><button class="btn btn-info" ng-click="new ()"><i class="fa fa-plus"></i> Adicionar</button></div>
    <div class="col-sm-8">
        <ns-timeline list="Posts" context=""></ns-timeline>
    </div>
    <div class="col-sm-2"></div>
</div>


